USE [hakeemDB]
GO
/****** Object:  Table [dbo].[account]    Script Date: 27/08/2022 3:20:19 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[account_name] [varchar](max) NULL,
	[account_email] [varchar](max) NULL,
	[account_passeord] [varchar](max) NULL,
	[account_type] [varchar](max) NULL,
	[account_insertion] [datetime] NULL,
	[axxount_gender] [varchar](max) NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[disease]    Script Date: 27/08/2022 3:20:19 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[disease](
	[disease_id] [int] IDENTITY(1,1) NOT NULL,
	[disease_name] [nvarchar](max) NULL,
 CONSTRAINT [PK_disease] PRIMARY KEY CLUSTERED 
(
	[disease_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favourite_hakeem]    Script Date: 27/08/2022 3:20:19 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favourite_hakeem](
	[favourite_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[hakeem_id] [int] NULL,
	[stars] [int] NULL,
 CONSTRAINT [PK_favourite_hakeem] PRIMARY KEY CLUSTERED 
(
	[favourite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favourite_nuskha]    Script Date: 27/08/2022 3:20:19 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favourite_nuskha](
	[favourite_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[nuskha_id] [int] NULL,
	[stars] [int] NULL,
 CONSTRAINT [PK_favourite_nuskha] PRIMARY KEY CLUSTERED 
(
	[favourite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nuskha]    Script Date: 27/08/2022 3:20:19 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nuskha](
	[nuskha_id] [int] IDENTITY(1,1) NOT NULL,
	[nuskha_name] [varchar](max) NULL,
	[nuskha_description] [varchar](max) NULL,
	[nuskha_image] [varbinary](max) NULL,
	[nuskha_imgtype] [varchar](max) NULL,
	[nuskha_ingredients] [varchar](max) NULL,
	[account_id] [int] NULL,
	[disease_id] [int] NULL,
	[symptoms_id] [int] NULL,
	[symptoms] [varchar](max) NULL,
 CONSTRAINT [PK_nuskha] PRIMARY KEY CLUSTERED 
(
	[nuskha_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nuskha_comment]    Script Date: 27/08/2022 3:20:19 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nuskha_comment](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[nuskha_id] [int] NULL,
	[comments] [varchar](max) NULL,
 CONSTRAINT [PK_comments] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[symptoms]    Script Date: 27/08/2022 3:20:19 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[symptoms](
	[symptoms_id] [int] IDENTITY(1,1) NOT NULL,
	[symptoms_name] [varchar](max) NULL,
 CONSTRAINT [PK_symptoms] PRIMARY KEY CLUSTERED 
(
	[symptoms_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([account_id], [account_name], [account_email], [account_passeord], [account_type], [account_insertion], [axxount_gender]) VALUES (2, N'Abdul Basit', N'abdulbasit@gmail.com', N'1234@abc', N'Hakeem', NULL, NULL)
INSERT [dbo].[account] ([account_id], [account_name], [account_email], [account_passeord], [account_type], [account_insertion], [axxount_gender]) VALUES (6, N'Saeed Iqbal', N'saeed@gmail.com', N'1234@abc', N'Patient', CAST(N'2021-08-13T23:29:43.000' AS DateTime), NULL)
INSERT [dbo].[account] ([account_id], [account_name], [account_email], [account_passeord], [account_type], [account_insertion], [axxount_gender]) VALUES (7, N'Hamza Iqbal', N'hamza@gmail.com', N'hamza@123', N'Patient', CAST(N'2021-08-13T23:31:23.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[account] OFF
GO
SET IDENTITY_INSERT [dbo].[disease] ON 

INSERT [dbo].[disease] ([disease_id], [disease_name]) VALUES (1, N'Fever')
INSERT [dbo].[disease] ([disease_id], [disease_name]) VALUES (2, N'Headaches')
INSERT [dbo].[disease] ([disease_id], [disease_name]) VALUES (3, N'Covid 19')
SET IDENTITY_INSERT [dbo].[disease] OFF
GO
SET IDENTITY_INSERT [dbo].[favourite_hakeem] ON 

INSERT [dbo].[favourite_hakeem] ([favourite_id], [account_id], [hakeem_id], [stars]) VALUES (2, 6, 2, 3)
SET IDENTITY_INSERT [dbo].[favourite_hakeem] OFF
GO
SET IDENTITY_INSERT [dbo].[favourite_nuskha] ON 

INSERT [dbo].[favourite_nuskha] ([favourite_id], [account_id], [nuskha_id], [stars]) VALUES (1, 6, 3, 3)
INSERT [dbo].[favourite_nuskha] ([favourite_id], [account_id], [nuskha_id], [stars]) VALUES (2, 6, 8, 4)
INSERT [dbo].[favourite_nuskha] ([favourite_id], [account_id], [nuskha_id], [stars]) VALUES (3, 6, 4, 3)
SET IDENTITY_INSERT [dbo].[favourite_nuskha] OFF
GO
SET IDENTITY_INSERT [dbo].[nuskha] ON 

SET IDENTITY_INSERT [dbo].[nuskha] OFF
GO
SET IDENTITY_INSERT [dbo].[nuskha_comment] ON 

INSERT [dbo].[nuskha_comment] ([comment_id], [account_id], [nuskha_id], [comments]) VALUES (2, 7, 3, N'Very Good')
INSERT [dbo].[nuskha_comment] ([comment_id], [account_id], [nuskha_id], [comments]) VALUES (3, 10, 3, N'Not Satisfactory')
INSERT [dbo].[nuskha_comment] ([comment_id], [account_id], [nuskha_id], [comments]) VALUES (4, 6, 5, N'Not Satisfactory')
SET IDENTITY_INSERT [dbo].[nuskha_comment] OFF
GO
SET IDENTITY_INSERT [dbo].[symptoms] ON 

INSERT [dbo].[symptoms] ([symptoms_id], [symptoms_name]) VALUES (1, N'Flue')
INSERT [dbo].[symptoms] ([symptoms_id], [symptoms_name]) VALUES (2, N'Body Pain')
INSERT [dbo].[symptoms] ([symptoms_id], [symptoms_name]) VALUES (3, N'Darkness Below Eyes')
SET IDENTITY_INSERT [dbo].[symptoms] OFF
GO
ALTER TABLE [dbo].[favourite_hakeem]  WITH CHECK ADD  CONSTRAINT [FK_favourite_hakeem_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[favourite_hakeem] CHECK CONSTRAINT [FK_favourite_hakeem_account]
GO
ALTER TABLE [dbo].[favourite_nuskha]  WITH CHECK ADD  CONSTRAINT [FK_favourite_nuskha_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[favourite_nuskha] CHECK CONSTRAINT [FK_favourite_nuskha_account]
GO
ALTER TABLE [dbo].[favourite_nuskha]  WITH CHECK ADD  CONSTRAINT [FK_favourite_nuskha_nuskha] FOREIGN KEY([nuskha_id])
REFERENCES [dbo].[nuskha] ([nuskha_id])
GO
ALTER TABLE [dbo].[favourite_nuskha] CHECK CONSTRAINT [FK_favourite_nuskha_nuskha]
GO
ALTER TABLE [dbo].[nuskha]  WITH CHECK ADD  CONSTRAINT [FK_nuskha_account1] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[nuskha] CHECK CONSTRAINT [FK_nuskha_account1]
GO
ALTER TABLE [dbo].[nuskha]  WITH CHECK ADD  CONSTRAINT [FK_nuskha_disease] FOREIGN KEY([disease_id])
REFERENCES [dbo].[disease] ([disease_id])
GO
ALTER TABLE [dbo].[nuskha] CHECK CONSTRAINT [FK_nuskha_disease]
GO
ALTER TABLE [dbo].[nuskha]  WITH CHECK ADD  CONSTRAINT [FK_nuskha_symptoms] FOREIGN KEY([symptoms_id])
REFERENCES [dbo].[symptoms] ([symptoms_id])
GO
ALTER TABLE [dbo].[nuskha] CHECK CONSTRAINT [FK_nuskha_symptoms]
GO
ALTER TABLE [dbo].[nuskha_comment]  WITH CHECK ADD  CONSTRAINT [FK_comments_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[nuskha_comment] CHECK CONSTRAINT [FK_comments_account]
GO
ALTER TABLE [dbo].[nuskha_comment]  WITH CHECK ADD  CONSTRAINT [FK_comments_nuskha] FOREIGN KEY([nuskha_id])
REFERENCES [dbo].[nuskha] ([nuskha_id])
GO
ALTER TABLE [dbo].[nuskha_comment] CHECK CONSTRAINT [FK_comments_nuskha]
GO
